# {{ ansible_managed }}

version: '3.5'
services:
  plex:
    hostname: plex.olsson.me
    container_name: plex
    image: 'plexinc/pms-docker'
    environment:
      TZ: 'Europe/Stockholm'
      ADVERTISE_IP: 'http://10.0.1.2:32400/'
      PLEX_CLAIM: CLAIM-CXJWMUSSUYZPMSIB82HD
    ports:
      - 32400:32400 # web ui (/web)
      - 1900:1900/udp # PLEX DLNA Server
      - 3005:3005 # PLEX Home Theater control
      - 5353:5353/udp # Avahi
      - 8324:8324 # PLEX for Roku control
      - 32410:32410/udp # GDM Discovery
      - 32412:32412/udp # -"-
      - 32413:32413/udp # -"-
      - 32414:32414/udp # -"-
      - 32469:32469 # PLEX DLNA Access
    volumes:
      - {{ plex_home }}/config/plex:/config
      - {{ plex_home }}/data:/data
      - {{ plex_home }}/transcode:/transcode
    networks:
      - media
      - proxy

  sonarr:
    hostname: sonarr.olsson.me
    container_name: sonarr
    image: 'linuxserver/sonarr'
    environment:
      TZ: 'Europe/Stockholm'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ plex_home }}/config/sonarr:/config
      - {{ plex_home }}/data:/data
      - {{ plex_home }}/downloads/sonarr:/downloads
    networks:
      - proxy
      - media

  radarr:
    hostname: radarr.olsson.me
    container_name: radarr
    image: 'linuxserver/radarr'
    environment:
      TZ: 'Europe/Stockholm'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ plex_home }}/config/radarr:/config
      - {{ plex_home }}/data:/data
      - {{ plex_home }}/downloads/radarr:/downloads
    networks:
      - proxy
      - media

  nzbget:
    hostname: nzbget.olsson.me
    container_name: nzbget
    image: 'linuxserver/nzbget'
    environment:
      TZ: 'Europe/Stockholm'
    volumes:
      - {{ plex_home }}/config/nzbget:/config
      - {{ plex_home }}/downloads:/downloads
    networks:
      - proxy
      - media

  deluge:
    hostname: deluge.olsson.me
    container_name: deluge
    image: 'linuxserver/deluge'
    environment:
      TZ: 'Europe/Stockholm'
    volumes:
      - {{ plex_home }}/config/deluge:/config
      - {{ plex_home }}/downloads:/downloads
    network_mode: host

      


networks:
  proxy:
    external:
      name: proxy-net
  media:
    name: media-net
